code {
  padding: 0.2em 0.4em;
    font-size: 85%;
    color: #558eda;
    background-color: rgba(208, 187, 193, 0.2);
    border-radius: 4px;
    line-height: normal;
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}